

    a{
        text-decoration-line: none;
    }

.icon{
    width: 40px;
    height: 37px;
    
}

// img{
//     border-radius: 50%;
// }

@mixin button($bcol, $bgcol){
    border: none;
    border-radius: 5px;
    border: $bcol 1px solid;
    background-color: $bgcol;
    color: $bcol;
    padding: 5px 10px;
}
.container{
    .bgw{
        @include button( #02897A, white);
    }
    .thema{
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}

.bgc{
    @include button( white, #02897A);
}
// .profic{
//     width: 60%;
//     height: 60%;
// }
